body {
    background-color: #121212;
    color: white;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: limegreen;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 26px;

}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
}



.buttons {
    min-width: 130px;
    align-items: center;
    margin: 5px;
    background-color: white;
    color: rgb(23,23,23);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 13px;
}

#buttons{
    margin-bottom: 20px;
    margin-top: 20px;
}

.cathegoryBox {
    display: grid;
    align-items: center;
    min-width: 180px;
    min-height: 50px;
    padding: 20px;
    margin: 20px;
    border: 2px solid gray;
}

.buttonsBox{
    margin: 20px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.orgIcon{
    height: 35px;
    width: 35px;
    margin-right: 5px;
    border-radius: 15px;
}

#buttonsOrgas{
    display: grid;
    justify-content: start;
}

.orgaBox{
    display: flex;
    justify-content: start;
    align-items: center;
}